body { 
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-weight: regular;
    font-size: 14px;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

img {
    height: auto;
    max-width: 100%;
}

div.article {
    margin: auto;
    max-width: 700px;
    padding-bottom: 20px;
}

div.stamp {
    margin: auto;
    max-width: 700px;
/*     padding: 20px 10px 10px 0; */
    padding-top: 20px;
}

#signup {
    background-color: #009B7D;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 60px;
}

#signup h1 {
    padding-top: 25px;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#signup h3 {
    padding-top: 25px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

#signup p {
    padding-top: 25px;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    color: white;
    white-space: pre-wrap;
}

#signup a {
    color: white;
}
