body { margin: 0;}
.splash {
    width:100vw;
    height: 100vh;
    background: white;
    background-image: url('/vines/vine10.png'), url('/vines/vineword.png'), url('/vines/vine65.png'), url('/vines/vine75.png'), url('/vines/vine90.png');
    background-position: 10% 0%, 25% -144px, 65% -144px, 75% -72px, 90% -144px;
}
.why {
  width:100vw;
  height: 100vh;
  background: orange;
  background-image: url('some-image.jpg');
  background-size: cover;
}
.description {
  width:100vw;
  height: 100vh;
  background: yellow;
  background-image: url('some-image.jpg');
  background-size: cover;
}
.download {
  width:100vw;
  height: 100vh;
  background: green;
  background-image: url('some-image.jpg');
  background-size: cover;
}
.credits {
  width:100vw;
  height: 100vh;
  background: blue;
  background-image: url('some-image.jpg');
  background-size: cover;
}
.licensing {
  width: 100vw;
  height: 100;
  background: white;
}
