body { 
    margin: 0;
    font-family: 'Karla', sans-serif;
    font-weight: regular;
    font-size: 14px;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

img {
    height: auto;
    max-width: 100%;
}

div.article {
    margin: auto;
    max-width: 700px;
    padding-bottom: 20px;
}

div.stamp {
    margin: auto;
    max-width: 700px;
/*     padding: 20px 10px 10px 0; */
    padding-top: 20px;
}
